.header__main-illustration {
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  padding: 0px;
}
