.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.border {
  border: 2px solid red ;
}

.border_one {
  border: 2px solid blue;
}

.border_two {
  border: 4px solid green;
}

.border_four {
  border: 3px solid yellow;
}

.border_three {
  border: 3px solid purple;
}

.border_five {
  border: 3px solid black;
}


.header {
  overflow: hidden;
  background-color: #f2f2f2;
  min-height: 600px;
  max-height: 756px;
  width:100%;
  display: flex;
  height: 100vh;
  background-size: 100%;
  position: relative;
  margin-bottom: 100px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_header {
  background-image: url(../images/logo_place_header.svg);
  position: absolute;
  top: 30px;
  left: 64px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0px;
  top: 64px;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  padding: 0px;
}

.header__title {
  width: 730px;
  left: 64px;
  align-self: center;
  font-size: 102px;
  line-height: 96px;
  padding-left: 64px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}

.header__link {
  text-decoration: none;
}

.description{
  padding: 100px 0px;
  min-height: 250px;
}

.two_columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  min-height: 250px;
}

.two_columns__brief{
  align-self: flex-start;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
}

.two_columns__main_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 784px;
  flex-basis: 80%;
}

.two_columns__paragraph{
  font-size: 24px;
  line-height: 34px;
}

.two_columns__spam_accent{
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

.digits {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-size: 60px;
  line-height: 1.15;
  margin-bottom: 20px;
}

.section__subtitle {
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
}

.table {
  width: 1100px;
  margin: 0 auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__heading{
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 20px;;

}

.feyman {
  display: flex;
  flex-direction: column;
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
}
.feyman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.feyman__title {
font-size: 120px;
line-height: 1.15;
font-weight: 700;
}

.feyman__subtitle{
font-size: 36px;
line-height: 51px;
margin-top: 70px;
z-index: 1;
}

.feyman__link{
font-size: 36px;
line-height: 51px;
position: absolute;
top: 50%;
right: 48px;
text-decoration: none;
}

.kaufman {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
}

.table__theme_dark {
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading__theme_dark {
  color: white;
}

.table__text__theme_dark {
  color: white;
}

.section__title_theme_dark {
  color: white;
  margin-top: 90px;
}

.section__subtitle_theme_dark {
  color: white;
}

.footer {
  background-color: #1f1f1f;
  padding-top: 90px;
}

.footer__column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column__content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column__content_info{
display: flex;
flex-direction: column;
}

.footer__column__content_social{
  display: flex;
  flex-direction: column;
}

.footer__logo{
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author{
color: white;
margin: 18px 0px;
font-size: 18px;
line-height: 25px;
}

.footer__column_heading{
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
}

.footer__column_links{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;

}

.footer__social_icon{
  size: 16px 16px;
  margin-right: 10px;
}


.footer__column_link{
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: white;
}
